body {
  /*font-family: 'Dosis', sans-serif;*/
  font-family: "Roboto", sans-serif;
  font-size: 13px;
  line-height: 1.538462;
  color: #757575;
  background-color: #eceff1;
}

a:hover, a:focus {
    text-decoration: none;
}
/*-----------at----------*/
/*.no_active {
   pointer-events: none !important;
   cursor: default !important;
   color: #ddd !important;
}*/

.at_login_logo {
    width: 100%;
    font-size: 20px;
    color: #0288d1;
    text-align: center !important;
}

.at_status_list {
    padding-left: 50px !important;
}

.at_model_button_plus {
    font-size: 16px !important;
    color: #43a047;
}

.login-brand {
    display: block;
    margin-bottom: 10px !important;
    margin-left: auto;
    margin-right: auto;
    width: 100px !important;
}

.at_add_box {
    margin-bottom: 20px;
}

.at_color_white {
    color: #FFF;
}

.sidenav-label {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal !important;
}

.text-success {
    color: #43a047 !important;
}

/*input {
    line-height: normal;
    text-align: center !important;
}*/
.at_bg_table_white_light {
    color: #333;
    font-weight: 500;
    background-color: #FFF;
}
.at_bg_table_orange_light {
    color: #333;
    font-weight: 500;
    background-color: rgba(255, 171, 145, 0.30);
}

/*-----------at----------*/

.at_bg_table_red {
    color: #333;
    font-weight: 500;
    background-color: #EF9A9A;
}
.at_bg_table_green {
    color: #333;
    font-weight: 500;
    background-color: #A5D6A7;
}
.at_bg_table_blue {
    color: #333;
    font-weight: 500;
    background-color: #90CAF9;
}
.at_bg_table_orange {
    color: #333;
    font-weight: 500;
    background-color: #FFAB91;
}
.at_bg_table_gray {
    color: #333;
    font-weight: 500;
    background-color: #B0BEC5;
}
.at_bg_table_light_gray {
    color: #666;
    font-weight: 500;
    background-color: #cedbe1;
}

/*-----------at----------*/

.at_bg_table_white_hight {
    color: #757575;
    font-weight: 400;
    background-color: #FFF;
}
.at_bg_table_red_hight {
    color: #333;
    font-weight: 500;
    background-color: #d50000;
}
.at_bg_table_green_hight {
    color: #333;
    font-weight: 500;
    background-color: #43a047;
}
.at_bg_table_blue_hight {
    color: #333;
    font-weight: 500;
    background-color: #2196f3;
}
.at_bg_table_orange_hight {
    color: #333;
    font-weight: 500;
    background-color: #ef6c00 !important;
}
.at_bg_table_gray_hight {
    color: #333;
    font-weight: 500;
    background-color: #757575;
}
/*-----------at----------*/

.at_text_white {
    color: #FFF;
}

.at_text_red {
    color: #d50000;
}

.at_text_green {
    color: #43a047;
}

.at_text_blue {
    color: #0288d1;
}

.at_text_orange {
    color: #ef6c00;
}

.at_text_gray {
    color: #757575;
}

.at_text_black {
    color: #333;
}
/*-----------at----------*/
.at_mark_green {
    width: 60%;
    background-color: #f7f7f6;
    text-align: center;
    margin: 0 auto 0;
}
.at_mark_green .top {
    font-size: 16px;
    color: #FFF;
    padding: 0px 10px;
    background-color: #43a047;
}
.at_mark_green .number {
    font-size: 24px;
    color: #333;
    padding: 5px 10px;
}

.at_mark_orange {
    width: 60%;
    background-color: #f7f7f6;
    text-align: center;
    margin: 0 auto 0;
}
.at_mark_orange .top {
    font-size: 16px;
    color: #FFF;
    padding: 0px 10px;
    background-color: #ef6c00;
}
.at_mark_orange .number {
    font-size: 24px;
    color: #333;
    padding: 5px 10px;
}

.at_mark_blue {
    width: 60%;
    background-color: #f7f7f6;
    text-align: center;
    margin: 0 auto 0;
}
.at_mark_blue .top {
    font-size: 16px;
    color: #FFF;
    padding: 0px 10px;
    background-color: #0288d1;
}
.at_mark_blue .number {
    font-size: 24px;
    color: #333;
    padding: 5px 10px;
}
/*-----------at----------*/

.sidenav-collapsed .sidenav-icon {
    float: none;
    font-size: 22px;
    height: 45px;
    left: 0;
    line-height: 45px;
    margin-left: 0;
    position: absolute;
    top: 0;
    -webkit-transition: font-size 0.3s;
    -o-transition: font-size 0.3s;
    transition: font-size 0.3s;
    width: 100%;
}

.sidenav-icon {
    display: block;
    float: left;
    font-size: 16px;
    height: 18px;
    line-height: 18px;
    margin-right: 10px;
    text-align: center;
    width: 18px;
}

.sidenav > li > a {
    color: #757575;
    display: block;
    font-size: 14px;
    line-height: 20px;
    padding: 7px 15px;
    position: relative;
    text-decoration: none;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
.sidenav-heading {
    color: #9e9e9e;
    font-size: 12px;
    font-weight: 500;
    line-height: 1;
    margin-bottom: 0;
    margin-top: 5px;
    overflow: hidden;
    padding: 10px 15px;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.sub_menu {
    color: #959595;
    font-weight: 300;
}
.at-hr {
  margin-top: 5px;
  margin-bottom: 5px;
  border: 0;
  border-top: 1px solid #e0e0e0;
}

/*.table td, .table th {
    vertical-align: middle !important;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}*/
.table td {
    vertical-align: middle;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.table-bordered.dataTable>tbody>tr>td:last-child,
.table-bordered.dataTable>tbody>tr>th:last-child,
.table-bordered.dataTable>tfoot>tr>td:last-child,
.table-bordered.dataTable>tfoot>tr>th:last-child,
.table-bordered.dataTable>thead>tr>td:last-child,
.table-bordered.dataTable>thead>tr>th:last-child {
    border-right-width: 1px;
}

/*.table-nowrap > thead > tr > th, .table-nowrap > thead > tr > td, .table-nowrap > tbody > tr > th, .table-nowrap > tbody > tr > td, .table-nowrap > tfoot > tr > th, .table-nowrap > tfoot > tr > td {
    white-space: normal;
}*/
/*-----------at----------*/

.at-btn {
    text-transform: none;
    text-align: left;
}
.at-sq-100 {
    display: inline-block;
    font-size: 65px;
    height: 100px;
    line-height: 100px;
    text-align: center;
    width: 100%;
}
.at-custom-select-sm {
    border-radius: 0;
    font-size: 12px;
    height: 26px;
    line-height: 1.5;
}
.at-custom-select-sm2 {
    border-radius: 0;
    font-size: 12px;
    height: 30px;
    line-height: 1.5;
}
.at-table-small > thead > tr > th, 
.at-table-small > thead > tr > td, 
.at-table-small > tbody > tr > th, 
.at-table-small > tbody > tr > td, 
.at-table-small > tfoot > tr > th, 
.at-table-small > tfoot > tr > td {
    padding: 2px 8px !important;
}
.btn {
    margin-bottom: 5px;
}

table tr td .btn:not(.status) {
    /* background-color: #FFF; */
    margin-left: 2px;
    margin-right: 2px;
}
    table tr td .btn:not(.status):focus {
        /* background-color: #FFF; */
    }

.at-card-header {
    border-bottom: 0px solid #eee !important;
}
/*-----------at----------*/
.card-action {
    font-size: 16px;
    width: 20px;
}

/*-----------at----------*/
.list-group-item-noti {
  padding: 8px 0px;
}

.sidenav-subnav > li > a {
    padding: 8px 15px 8px 22px;
}
.sidenav-subnav > li > ul > li > a {
    padding: 5px 15px 5px 45px;
}
.sidenav-subnav > li > ul > li > a .sidenav-icon {
    margin-right: 5px;
}
/*-----------at----------*/
.form-horizontal .form-group-sm .control-label {
    padding-right: 0px;
}

/*-----------at----------*/
.table-bordered > thead > tr > th, .table-bordered > thead > tr > td, .table-bordered > tbody > tr > th, .table-bordered > tbody > tr > td, .table-bordered > tfoot > tr > th, .table-bordered > tfoot > tr > td {
    white-space: nowrap;
}

/*-----------at----------*/
.navbar-nav > li > .language_botton {
    padding: 15px 15px;
    background-color: #0294e3;
}

/*-----------at----------*/
.custom-controls-stacked .custom-control {
    display: inline-block;
}
/*-----------nut----------*/
.textbox-lang-wrapper {
    padding-right: 30px;
    background-repeat: no-repeat;
    background-position: right center;
    display: block;
    padding-bottom: 5px;
}
    .textbox-lang-wrapper.th, .textarea-lang-wrapper.th {
        background-image: url(../img/flags/country/th.png);
        background-size: 25px;
    }
    .textbox-lang-wrapper.eng, .textarea-lang-wrapper.eng {
        background-image: url(../img/flags/country/eng.png);
        background-size: 25px;
    }
    .textbox-lang-wrapper.cn, .textarea-lang-wrapper.cn {
        background-image: url(../img/flags/country/cn.png);
        background-size: 25px;
    }
/*-----------nut----------*/
.form-group .custom-control {
     min-height: inherit; 
}
.table-bordered.dataTable > tbody > tr > td:nth-of-type(2) {
    max-width: 380px;
    overflow: hidden;
}
.table-bordered.dataTable > tbody > tr.success{
    color: green;
}
.table.dataTable.menu_customize > tbody > tr > td {
    padding-top: 3px !important;
    padding-bottom: 3px !important;
    line-height: 2.2 !important;
}
    .table.dataTable.menu_customize > tbody > tr > td .custom-control, .table.dataTable.menu_customize > thead .custom-control {
        min-height: 14px;
    }

.table.dataTable.menu_customize > tbody > tr.header {
    background-color: #eee;
    font-weight: bold;
}
/*-----------nut----------*/
.btn.status {
    font-size: 11px;
    padding: 3px 8px;
    text-shadow: none;
    border-radius: .25em;
    float: left;
}
.btn.btnplan {
    font-size: 11px;
    padding: 3px 8px;
    text-shadow: none;
    border-radius: .25em;
    background-color: #757575 !important;
}
    .btn.btnplan.active, .btn.btnplan:focus, .btn.btnplan:hover {
        background-color: #FFF !important;
        color: #757575 !important;
    }
/*---------profile------*/
.profile-header {
    height: 135px;
}
    .profile-header .avatar {
        width: 50%;
        display: inline-block;
        padding: 20px;
    }
    .profile-header .profile-info {
        display: inline-block;
    }

.border_bt_none {
    border-bottom: none;
}
/*-----------nut----------*/
.order_no {
    color: #333;
    font-weight: 600;
    margin-left: 15px;
}
.order-actions {
    right: 15px;
    list-style: none;
    margin-bottom: 0;
    padding-left: 0;
    top: 50%;
}
.order-action {
    background-color: transparent;
    background-image: none;
    border: none;
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    color: inherit;
    cursor: pointer;
    display: block;
    float: right;
    font-family: FontAwesome;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    height: 16px;
    /* line-height: 16px; */
    margin-bottom: 0;
    -moz-osx-font-smoothing: grayscale;
    -ms-touch-action: manipulation;
    opacity: .75;
    padding: 0;
    margin-left: -20px;
    position: relative;
    text-align: center;
    text-rendering: auto;
    touch-action: manipulation;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    vertical-align: middle;
    -webkit-font-smoothing: antialiased;
    white-space: nowrap;
    width: 16px;
}
.order-toggler:before {
    content: "\f078";
}
.order-toggler.collapsed:before {
    content: "\f077";
}


/*-----------at----------*/
/*-----------at----------*/
/*-----------at----------*/
/*-----------at----------*/
/*-----------at----------*/
/*-----------at----------*/
@media (max-width: 1440px) {
    .at-sq-100 {
    font-size: 50px;
}
.media-body h3, .h3 {
    font-size: 20px !important;
}
}

@media (max-width: 1199px) {}

@media (max-width: 1024px) {}

@media (max-width: 991px) {}

@media (max-width: 768px) {}

@media (max-width: 767px) {}

@media (max-width: 425px) {}

@media (max-width: 375px) {}

@media (max-width: 320px) {}


/*-----------End at----------*/
