.dhx_data_table.folder .dhx_matrix_cell, .dhx_matrix_scell.folder{
    background-color: #ebeced;
    cursor: pointer;
}

.dhx_matrix_scell.folder .dhx_scell_name{
    float: left;
    width: auto;
    color: #0288d1;
    text-transform: uppercase;
    font-weight: 500;
}

.dhx_matrix_scell{
    font-family: Roboto,Arial;
    font-size: 13px;
}