.at_add_box.extra {
    margin-bottom: 10px;
}

.has-feedback .form-control {
    padding-right: 0;
}

tr > th.middle {
    vertical-align: middle !important;
}

tr > td.top {
    vertical-align: top !important;
}

table tr td .btn.full{
    width:100%;
}

.row.extra-button{
    margin: 0 -12px;
}

.n-p-r{
    padding-right:0;
}

.n-p-l{
    padding-left:0;
}

.n-p-t{
    padding-top:0;
}

.n-p-b{
    padding-bottom:0;
}

.n-m-r{
    margin-right:0;
}

.n-m-l{
    margin-left:0;
}

.n-m-t{
    margin-top:0;
}

.n-m-b{
    margin-bottom:0;
}

.text-warning {
    color: #FF5733;
}

.text-detail-modal {
    font-size: 16px;
    color: #FF5733;
}

.t-r{
    text-align: right;
}

.t-l{
    text-align: left;
}

#section-2, #section-3, #section-4, #section-inquiry{
    display:none;
}

.suggestion{
    width:100%;
    text-align: center;
    margin: 8px 0 2px 0;
}

.suggestion .content{
    display:inline-block;
}

.suggestion .content .element{
    float:left;
    display: table;
    margin: 0 20px;
}

.suggestion .content .element .square{
    display: table-cell;
    width: 25px;
    height: 25px;
}

.suggestion .content .element .text{
    margin-top: 120px;
    display: table-cell;
    font-weight: bold;
    padding-top: 3px;
    padding-left: 7px;
}

.hide{
    display: none;
}

.square.gray{
    background: #BFBFBF;
}

.square.black{
    background: #000000;
}

.square.red{
    background: #FF0000;
}

td.red{
    color:red;
    font-weight: bold;
}

td.gray{
    color:#bfbfbf;
    font-weight: bold;
}

td.black{
    font-weight: bold;
}

.table td{
    text-align:top !important;
    padding-top: 10px !important;
    padding-bottom: 8px !important;
    line-height: 2.8 !important;
}

.graph-box{
    position:relative;
}

.graph-box .button-box{
    position: absolute;
}

.graph-box .button-box.pos1{
    top: 65px;
    left: 147px;
}

.graph-box .button-box.pos2{
    top: 302px;
    left: 147px;
}

.graph-box .button-box.pos3{
    top: 460px;
    left: 147px;
}

.graph-box .button-box .button-cancel{
    background-color: transparent;
    border-color: #f75d5d;
    color: #f75d5d;
}

.dv-sent-element{
    padding-left:0;
}

.table-graph input{
    text-align: center;
}

.table-graph .extra{
    margin-bottom:2px;
}

.add-padding-left{
    padding-left: 25px !important;
}

.text-left-extra{
    text-align:left;
    padding-left:35px !important;
}

.no-page a{
    color:#b9b9b9 !important;
}

.header-table{
    color: #333;
    font-weight: 500;
    background-color: #cedbe1;
}

table.choose td{
    padding:0 !important;
}

.relative{
    position:relative;
}

.pull-right-bottom{
    position:absolute;
    bottom: 5px;
    right:17px;
}

table.choose tr td .btn:not(.status){
    background-color: #0288d1;
}

table.choose tr td .btn:not(.status):hover{
    background-color: #02679e;
    border-color: #02679e;
    color: #fff;
}

.width-fit{
    padding-left: 30px;
    padding-right: 30px;
}

table.choose tr td .btn-sm{
    padding: 3px 10px;
    margin-bottom: 2px;
}

.overflow{
    overflow-y:auto;
}

.body-choose{
    height:228px;
}

.custom-controls-stacked .custom-control + .custom-control{
    margin-top:0;
    margin-left:15px;
}

.custom-controls-stacked.m-t{
    margin-top: 7px !important;
}

#start-plan-order, #start-plan-inquiry{
    display: none;
}

.text-waiting{
    background:#ffab91;
    color:#333;
}

.text-fade{
    color:#8c8888;
}

.top-header{
    height: 37px;
}

.top-header .text-fade{
    padding-top: 15px;
}

.start-plan{
    position:absolute;
    right:200px;
    padding: 4px 30px;
    z-index:1;
}

.btn-extra{
    padding: 5px 30px 4px 30px;
    font-size: 13px;
}

/* #section-order{
    display: none;
} */


.card-body.min-height{
    min-height: 500px;
}

.buttons-colvis.width-fit{
    padding: 6px 30px !important;
}

#save-filter{
    display:none;
}

tfoot input::placeholder{
    color:#999 !important;
    font-weight: 400;
}

tfoot input{
    font-weight: 500;
}

.save-plan{
    position: absolute;
    top:15px;
    right:220px;
    z-index: 10;
}

.card.planning-item .card-header{
    background: #cedbe1;
    color: #333;
}

.planning_event{
    border: dashed 1px #333;
}

.card.planning-item table, .card.planning-item th, .card.planning-item td{
    border: solid 1px #fff;
}

.right{
    text-align: right;
}

.text-right{
    text-align: right;
}

.text-left{
    text-align: left;
}

.btn.btn-outline-primary.outline{
    background-color: #fff !important;
    border-color: #0288d1;
    color: #0288d1;
    border-width: 1px;
    padding-top:4px;
    padding-bottom:4px;
}

.btn.btn-outline-primary.outline:hover{
    background-color: #0288d1 !important;
    color: #fff;
}

.btn {
    margin-bottom:0;
}

.form-detail label, .form-detail .control-label{
    padding-top:0;
}

.form-detail .form-group{
    margin-bottom:0;
}

.form-detail .form-control-static{
    padding-top:0;
    padding-bottom:0;
}

.text-center-ipt{
    text-align:center !important;
}

.n-p{
    padding:0;
}

.n-m{
    margin:0;
}

.n-p-i{
    padding:0 !important;
}

.n-m-i{
    margin:0 !important;
}

.table td.n-p-i{
    padding:0 !important;
    width:100%;
}

.accordian-body{
    padding: 10px 15px;
}

.bg_table_in{
    background: #dcefff; 
    color:#666;
}


.cl table{
    background: #fff !important;
}

.cl table th, .cl table td{
    border:solid 1px #aaa !important;
}

.table-items tbody > tr{
    cursor: pointer;
}

p.header-detail{
    margin-bottom: 0;
}

.profile-header .avatar{
    width: auto;
    padding: 10px 5px;
    display: block;
    float: left;
}

.profile-header{
    height: auto;
}

.form-detail .form-control-static{
    min-height: auto;
}

.card-body.notification .row{
    margin-bottom:3px;
}

.personal-detail{
    padding-top: 3px;
}

.personal-detail .row{
    margin-bottom:3px;
}

.dashbord-graph-detail{
    padding: 15px 4px 15px 4px;
}

.dashbord-graph-detail p{
    margin-bottom: 2px;
    text-align: center;
}

.dashbord-graph-detail .media-middle{
    position:relative;
}

.dashbord-graph-detail .percentage{
    position: absolute;
    top: 16px;
    left: 39px;
    font-size: 10px;
}

.dashbord-graph-detail .graph{
    text-align: center;
}

.btn.status{
    width:100%;
    text-align: center;
}

.suggestion.status .element{
    margin:0 10px;
}

.cl{
    background:#eee;
}

.cl .graph-body{
    padding:10px;
}

.f-white{
    color:white;
}

.cl tbody tr:hover .f-white{
    color:#eee;
}

.suggestion.status .content .element .text{
    font-weight: 400;
}

.at_add_box.extra{
    position:relative;
}

.suggestion.status.in-filter{
    position:absolute;
    bottom: -10px;
}

.suggestion.status .element a, .suggestion.status .element button{
    margin-top:-1px;
}

.btn.status.btn-warning.tone2{
    background-color: #ff6060;
    border-color: #ff6060;
}

.btn.status.btn-warning.tone3{
    background-color: #e0648c;
    border-color: #e0648c;
}

.btn.status.btn-warning.tone4{
    background-color: #9e2929;
    border-color: #9e2929;
}

.btn.status.btn-info.tone2{
    background-color: #9b649c;
    border-color: #9b649c;
}

.btn.status.btn-info.tone3{
    background-color: #3b85bf;
    border-color: #3b85bf;
}

.btn.status.btn-default.tone2{
    background-color: #926f3b;
    border-color: #926f3b;
}

.btn.status.btn-default.tone3{
    background-color: #af2377;
    border-color: #af2377;
}

.btn.status.btn-default.tone4{
    background-color: #7d6060;
    border-color: #7d6060;
}

.datepicker.datepicker-dropdown.dropdown-menu{
    z-index:1050;
}

.graph-body{
    text-align: center;
}

.header-detail .form-group{
    margin-bottom: 0;
}

.header-detail .form-group label, .header-detail .form-group p{
    padding-top: 0;
}

.header-detail .form-group p{
    min-height: auto;
    padding-bottom: 0;
}

.a-p-t{
    padding-top:20px !important;
}

.a-p-b{
    padding-bottom: 20px !important;
}

.image{
    max-width: 100%;
}

.image-profile{
    text-align: center; 
}

.image-profile, .image-profile .image{
    max-height:250px;
}